body, html{

  background-image: url(https://images7.alphacoders.com/108/thumbbig-1081503.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  border: black;
  border-radius: 10px;
}

.content{
   text-align: center;
}

.container {
    padding: 1rem;
    width: stretch;
    height: 50%;
    display: none;
    background: #515DA2;
    opacity: .8;
    margin: 0 auto;


  }

.card {
 
    align-items: center;
    text-align: center;
    border-color: black 20px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: none;
    margin: 1rem 2rem;
    background-color: #999966;
 
  }

.btn-easy {
  position: relative;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: black;
  font-size: 18px;
  justify-self: center;
}

.btn-hard {
  position: relative;
  background-color: yellow;
  border: none;
  border-radius: 10px;
  height: 3rem;
  width: max-content;
  color: black;
  font-size: 18px;
  justify-self: center;
}

#timer{
  text-align: center;
  width: fit-content;
  margin: auto;
}


#loginbtndiv{
  text-align: center;
}

.login {
  display: none;
  width: 500px;
  margin: 60px auto 30px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.1);

}

input {
  width: 100%;
}

.submit {
  text-align: center;
  color: black;
  background-color: rgb(180, 173, 173);
  border-radius: 10%;

}



#loginbtn {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 2em;
  padding: 0px 15px;
  margin: 0 8px 0 calc(16px / 2);
  border-width: 1px;
  border-style: solid;
  border-radius:50%;
  min-height: calc( 0px + 2em + 35px );
  margin-top: 8px;
}


h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}


